* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   font-family: 'Fira Sans', sans-serif;
   background: linear-gradient(147deg, #382a47 0%, #665c5b 74%);
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.slider-cards {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   height: 35rem;
   width: 60rem;
   max-width: 46.875rem;
   margin: auto;
   border-radius: 2rem;
   box-shadow: 0px .625rem 3.125rem rgba(0, 0, 0, 0.3);
}



.mem-card {
   position: absolute;
   display: flex;
   gap: 4rem;
   height: 31rem;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 1rem;
}

#imgTap:checked~.mem-card {
   padding: 0;
   transition: .1s ease-in;
}

.mem-card .img {
   height: 23rem;
   flex-shrink: 0;
   overflow: hidden;
   border-radius: 1.25rem;
}

#imgTap:checked~.mem-card .img {
   height: 23.125rem;
   width: 53.125rem;
   z-index: 99;
   margin-top: .625rem;
   transition: .3s .2s ease-in;
}

.img img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   cursor: pointer;
   opacity: 0;
   transition: .6s;
}

#tap-1:checked~.mem-card .img-1,
#tap-2:checked~.mem-card .img-2,
#tap-3:checked~.mem-card .img-3,
#tap-4:checked~.mem-card .img-4 {
   opacity: 1;
   transition-delay: .2s;
}

.content {
   padding: 0 0 0 1rem;
   width: 22rem;
   margin-right: 10rem;
   opacity: 0;
   transition: .6s;
}

#imgTap:checked~.mem-card .content {
   display: none;
}

#tap-1:checked~.mem-card .content-1,
#tap-2:checked~.mem-card .content-2,
#tap-3:checked~.mem-card .content-3,
#tap-4:checked~.mem-card .content-4 {
   opacity: 1;
   margin-left: 0rem;
   z-index: 100;
   transition-delay: .3s;
}



.content .title {
   font-size: 2rem;
   font-weight: 700;
   color: #0d0925;
   text-align: left;
   z-index: 10;
}

.radio-btn {
   display: flex;
   align-items: flex-end;
   flex-direction: row;
   margin: 0 0 0 13rem;
   width: 0rem;
   height: 29rem;
   transform: translateX(-50%);
   z-index: 20;
}

#imgTap:checked~.radio-btn {
   display: none;
}

.radio-btn .tap {
   position: relative;
   height: 2rem;
   width: 2rem;
   background: #fffcfc;
   border-radius: 1rem;
   display: inline-flex;
   margin: 0 0.4rem;
   cursor: pointer;
}

.dot {
   height: 4rem;
   width: 2rem;
   border-radius: 1rem;
   align-items: center;
   z-index: 20;
}

.radio-btn .tap:hover {
   background: hsla(300, 10%, 12%, 0.397);
}


.radio-btn .tap:before {
   position: absolute;
   content: '';
   height: 100%;
   width: -100%;
   background: linear-gradient(147deg, #b3a78b 0%, #686262 74%);
   border-radius: 1rem;
   transform: scaleX(0);
   transition: transform 1s;
   transform-origin: left;
}

input[type="radio"],
input[type="checkbox"] {
   display: none;
}

#tap-1:checked~.radio-btn .tap-1:before,
#tap-2:checked~.radio-btn .tap-2:before,
#tap-3:checked~.radio-btn .tap-3:before,
#tap-4:checked~.radio-btn .tap-4:before {
   transform: scaleX(1);
   width: 100%;
}


@media (max-width: 800px) {
   .slider-cards {
      width: 40rem;
   }

   .content .title {
      order: 4;
      margin-top: 1rem;

   }

   .content {
      width: auto;
      margin-right: 0rem;
   }

   .mem-card {
      height: 35rem;
      justify-content: start;
   }

   .radio-btn {
      position: absolute;
      z-index: 40;
      margin-left: 0;
      margin-right: 9rem;
      margin-bottom: 7rem;
      order: 3;
   }

   .img {
      margin-top: 2rem;
   }
}

@media (max-width: 655px) {
   .slider-cards {
      width: 30rem;
   }

   .img img {
      height: 80%;
   }
}

@media (max-width: 495px) {
   .slider-cards {
      width: 25em;
   }

   .img img {
      height: 80%;
      width: 40vh;
   }
}